<h1>製品情報の編集</h1>
<table>
  <%= form_for(@product) do |f| %>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :price %></th>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <th><%= f.label :manufacturer %></th>
        <td><%= f.text_field :manufacturer %></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= f.check_box :released %>
          <%= f.label :released %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.submit '保存' %>
        </td>
      </tr>
  <% end %>
</table>
