<h1>製品一覧</h1>
<table>
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |p| -%>
      <tr>
        <td><%= h p.name %></td>
        <td><%= link_to '詳細', product_path(p.id)  %></td>
        <td><%= button_to 'delete', product_path(p.id), method: :delete, data: {confirm: "You sure?"} %></td>
      </tr>
  <% end %>
  <p><%= link_to 'add new',new_product_path %></p>
</table>
