<h1>
  製品の詳細情報
</h1>
<table>
  <tr>
    <th>名状</th>
    <td><%= h @product.name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td>&yen;<%= number_with_delimiter(@product.price) %></td>
  </tr>
  <tr>
    <th>製造者</th>
    <td><%= h @product.manufacturer %></td>
  </tr>
  <tr>
    <th>販売開始</th>
    <td><%= @product.released? ? '○' : '×' %></td>
  </tr>
</table>

<%= link_to "edit", edit_product_path, method: :edit %>

