<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>製品管理</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<%= yield %>
</body>
</html>
